---
layout: 'base.njk'
---

{% block css %}
<link rel="stylesheet" href="/styles/blog-post.css" />
{% endblock %}
<article>
    <div class="container">
        <h1 class="blog__title"> {{ title }} </h1>
        <figure class="blog__figure">
            <div class="blog__img-container">
                <img src="{{ image }}" alt="{{ imageAlt }}" class="blog__img">
            </div>
            <figcaption>
                {{ imageAlt }}
            </figcaption>
        </figure>
        {{content | safe}}
    <a href="/" class="blog__redirect">Back to hompage</a>    
    </div>
</article>