:root{
    --black: #333333;
    --white: #EEEEEE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--black);
    font-family: 'Manrope', sans-serif;
}

.container{
    width: 85%;
    max-width: 62rem;
    margin: 0 auto;
}

article{
    margin-top: 2rem;
}

.blog__title{
    text-align: center;
    font-size: 2rem;
}

.blog__img{
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.blog__img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin: 1.5rem 0;
    line-height: 1.5;
}

