.footer{
    margin-top: 1.5rem;
    padding: 1.5rem 0;
}

.footer__wrapper, .footer__signature{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.footer__content li{
    list-style: none;
    margin: 0 20px;
}

.footer__content a{
    text-decoration: none;
}

.footer__signature{
    margin-top: 1rem;
}

.footer__signature span {
    margin-left: 7.5px;
    margin-right: 7.5px;
    display: inline;
}

